### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
ser = pd.Series([4,8,15,16,23,42])
print(type(ser))
print(ser)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
var = [1,3,4,5,2,7,6,8,9,10]
ser = pd.Series(var)
print(type(ser))
print(ser)

<class 'pandas.core.series.Series'>
0     1
1     3
2     4
3     5
4     2
5     7
6     6
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
### Name       Age       Gender
### Alice      25        Female
### Bob        30         Male
### Claire     27        Female
### Then, print the DataFrame.

In [5]:
dict = {'Name':['Alice','Bob','Claire'],
        'Age': [25,30,27],
        'Gender':['Female', 'Male','Female']
       }
df = pd.DataFrame(dict)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure that can store data of different data types in columns. It is similar to a spreadsheet or a SQL table, where the rows represent the observations and the columns represent the variables. The DataFrame is one of the most important data structures in Pandas and it provides a convenient way to analyze and manipulate data.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type (integer, float, string, etc.). It is similar to a column in a spreadsheet or a SQL table. A Series can be thought of as a single column of a DataFrame.

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}

# DataFrame
df = pd.DataFrame(data)

# Series from the 'Age'
age_series = df['Age']
print(type(df))
print(df)
print('--------------------------')
print(type(age_series))
print(age_series)

<class 'pandas.core.frame.DataFrame'>
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris
3     Dave   40     Tokyo
--------------------------
<class 'pandas.core.series.Series'>
0    25
1    30
2    35
3    40
Name: Age, dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some of the most common functions:

* head() and tail(): These functions allow you to preview the top and bottom rows of a DataFrame, respectively. For example, if you have a DataFrame df, you can use df.head() to see the first few rows of the DataFrame, or df.tail() to see the last few rows.


* describe(): This function provides descriptive statistics of the DataFrame, such as mean, standard deviation, minimum, and maximum values. For example, if you have a DataFrame df, you can use df.describe() to see a summary of the statistics for each column.


* drop(): This function allows you to drop one or more columns or rows from the DataFrame. For example, if you have a DataFrame df with a column "Salary", you can use df.drop('Salary', axis=1) to drop the "Salary" column.


* fillna(): This function allows you to replace missing values in the DataFrame with a specified value or with values computed from other columns. For example, if you have a DataFrame df with missing values in column "Age", you can use df['Age'].fillna(df['Age'].mean()) to replace the missing values with the mean age.


* merge(): This function allows you to merge two or more DataFrames based on a common column. For example, if you have two DataFrames df1 and df2 with a common column "ID", you can use pd.merge(df1, df2, on='ID') to merge the two DataFrames on the "ID" column.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature. This means that you can modify their contents after they have been created.

For example, you can add, delete or modify elements in a Series or a DataFrame after they have been created. You can also add or delete columns and rows in a DataFrame.

Panels were 3-dimensional data structures in Pandas, but they were not as commonly used as Series and DataFrames.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
ser1 = pd.Series(['Het', 'Jaimin', 'Anurag'])
ser2 = pd.Series([1,5,9])
ser3 = pd.Series(['College', 'School', 'Graduate'])

df = pd.DataFrame([ser1, ser2, ser3])
df

         0       1         2
0      Het  Jaimin    Anurag
1        1       5         9
2  College  School  Graduate